@{ 
    Layout = "../Shared/_LayoutLogin.cshtml";
}
<div class="alert-success">
    <h2>Parabéns sua conta foi criada com sucesso! <a href="../Usuario/Login">Clique aqui para efetuar Login no sistema..</a></h2>
</div>