<div class="row">
    <div class="col-lg-6">
            <button type="button" class="btn btn-primary" onclick="location.href='../Usuario/Login'">
                Login
            </button>
    </div>
    <div class="col-lg-6">
            <button type="button" class="btn btn-success" onclick="location.href='../Usuario/Registrar'">
                Registrar uma Conta
            </button>
    </div>
</div>
